.user-component___text {
  position: relative;
}

.user-component___text span {
  position: absolute;
  right: -20px;
  bottom: 2px;
  border: 2px solid red;
  border-radius: 100%;
  padding: 5px;
  color: red;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions___title {
  margin-bottom: 30px;
}

.more-suggestions___icons {
  display: flex;
}

.more-suggestions___icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions___icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions___icon-image i {
  font-size: 32px;
  color: white;
}
