.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  box-sizing: border-box;
}

.status-bar___column {
  width: 33%;
}

.status-bar___column:first-child span {
  margin-right: 5px;
}

.status-bar___column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar___column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar .fa-battery-three-quarters {
  margin: 0px 5px;
}
