.user-component {
  justify-content: space-between;
}

.user-component,
.user-component___column:first-child {
  display: flex;
  align-items: center;
}

.user-component___avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component___title {
  font-weight: 600;
  font-size: 22px;
}

.user-component___subtitle {
  font-size: 17px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component___avatar--xl {
  width: 80px;
  height: 80px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.user-component___avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component___title--not-bold {
  font-weight: 400;
}

.user-component___column :last-child {
  color: rgba(0, 0, 0, 0.5);
}
